@model ModelDomainDoc.Models.Document

@{
    ViewBag.Title = "View";
}

<h2>Поиск документов по названию</h2><br>

@using (Html.BeginForm(Html.BeginForm("Execute", "SearchDoc", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))) 
{
    @Html.EditorFor(m => m.Name, "StrView")

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </div>
    </div>
        
}

