@model ModelDomainDoc.Models.Document

@{
    ViewBag.Title = "Создать документ";
}

<h2>Создание нового документа</h2> <br>

@using (Html.BeginForm("CreateDoc", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.BinaryFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="file" required ="required">
        </div>
    </div>
    <br>
    <br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>

}

