@model IEnumerable<ModelDomainDoc.Models.Document>
@{
    ViewBag.Title = "Index";
}

<h2>Список всех документов</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("Item", item)
    }

</table>
