@model ModelDomainDoc.Models.Document
@{
    ViewBag.Title = "Item";
}

<tr>
    <th>
        @Html.DisplayFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayFor(model => model.Autor.FullName)
    </th>
    <th>
        @Html.DisplayFor(model => model.Date)
    </th>
    <th>
        <li><a href="<%= Html.BuildUrlFromExpression<ReportController>(r => r.Reports(Model.Name)) %>"><%=Model.Name %></a></li>
        @*@Html.ActionLink("Открыть файл", "OpenFile", new { filePath = Model.BinaryFile})*@
    </th>
    <th></th>
</tr>

